*{
    margin:0px;
    padding:0px;
}
body{
    background-color: #A875FF;
}
main{
    width: 100%;
    height:100vmin;
    display: flex;
    justify-content: center;
    align-items: center;
}
section{
    padding:10vmin;
    border:1vmin solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius:2vmin;
}
h1{
    font-size: 7vmin;
    font-family: "arial";
    color: white;
    text-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.5);
}
.inputArea{
    display: flex;
    justify-content: flex-start;
    
    width: 100%;
}
#inputLabel{
    width: 70%;
    height:5vmin;
    border-radius: 1vmin;
    border:0.5vmin solid white;
    text-align: center;
    color:#A875FF;
    background-color: white;
    font-family: 'Fredoka One', cursive;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#inputLabel p{
    padding-left:1vmin;
}
.inputArea button{
    padding: 1vmin;
    padding-right: 3vmin;
    padding-left: 3vmin;
    border-radius: 1vmin;
    border:0.5vmin solid white;
    text-align: center;
    color:#A875FF;
    background-color: white;
    font-family: 'Fredoka One', cursive;
    margin-left: 1.5vmin;
    
}
#inputLabel #delete{
    background-color: transparent;
    border:0px;
    padding:3px;
    padding-right:1.5vmin;
}
.operationsButtonsArea{
    display: flex;
    flex-direction: column;
    margin-left: -5vmin;
}
button{
    padding: 2vmin;
    padding-right: 3vmin;
    padding-left: 3vmin;
    background-color: white;
    border-radius: 0.5vmin;
    border: none;
    margin-bottom: 0.5vmin;
    font-size: 2.3vmin;
    color:#A875FF;
    font-family: 'Fredoka One', cursive;
    cursor:pointer;
}
.buttonsArea{
    display: flex;
}
.numberButtonsArea {
    width: 30vmin;
}
.numberButtonsList{
    display: flex;
    flex-wrap: wrap;
}
.numberButtonsList button {
    padding:3vmin;
    margin:0.3vmin;
    background-color: white;
    color:#A875FF;
    list-style: none;
    border-radius: 1vmin;
    font-family: 'Fredoka One', cursive;
    cursor:pointer;
}